Repository fsegurai/ngx-markdown, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, ci-cd, demo, assets, styles, library, tests-library, tests-demo, documentation

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
  bunfig.toml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
  bunfig.toml
Labels: infra, ci-cd

fix/release library workflow
  bunfig.toml
Labels: none

fix/release library workflow
  bunfig.toml
Labels: none

fix/release library workflow
  .github/workflows/release-library.yml
  bunfig.toml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
  bunfig.toml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
  bunfig.toml
Labels: infra, ci-cd

fix/release library workflow
  .github/workflows/release-library.yml
  bunfig.toml
Labels: infra, ci-cd

fix/improved release library and test workflows
  .github/workflows/release-library.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/improved release library and test workflows
  .github/workflows/release-library.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/improved build workflow
  .github/workflows/build.yml
Labels: infra, ci-cd

fix/improved build workflow
  .github/workflows/build.yml
Labels: infra, ci-cd

fix/improved release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/improved release library workflow
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/improved imports and styles
  demo/src/app/app.component.ts
  demo/src/scss/material-theme.scss
Labels: demo, styles

fix/improved imports and styles
  demo/src/app/app.component.ts
  demo/src/scss/material-theme.scss
Labels: demo, styles

fix/README and demo views
  README.md
  angular.json
  demo/src/app/app.component.html
  demo/src/app/app.component.scss
  demo/src/app/playground/playground.component.html
Labels: infra, demo, styles, documentation

fix/README and demo views
  README.md
  angular.json
  demo/src/app/app.component.html
  demo/src/app/app.component.scss
  demo/src/app/playground/playground.component.html
Labels: infra, demo, styles, documentation

fix/README
  README.md
Labels: documentation

fix/README
  README.md
Labels: documentation

feat/new registry scripts
  package.json
Labels: infra

feat/new registry scripts
  package.json
Labels: infra

refactor/.gitignore for Jetbrains IDE
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .idea/git_toolbox_blame.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/modules.xml
  .idea/ngx-markdown.iml
  .idea/vcs.xml
Labels: none

refactor/.gitignore for Jetbrains IDE
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .idea/git_toolbox_blame.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/modules.xml
  .idea/ngx-markdown.iml
  .idea/vcs.xml
Labels: none

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
      ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [
        'package-lock.json',
        'yarn.lock',
        'bun.lockb'
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'lib/**',
      ]

tests-library:
  - changed-files:
      - any-glob-to-any-file: [
        'lib/**/*.spec.ts',
        '**/karma.conf.js',
      ]

tests-demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**/*.spec.ts',
      ]

documentation:
  - changed-files:
      - any-glob-to-any-file: [
        'docs/**',
        'CHANGELOG.md',
        'CONTRIBUTING.md',
        'LICENSE',
        'README.md',
      ]
