Repository fsegurai/ngx-markdown, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci-cd, demo, assets, styles, library, tests-library, tests-demo, docs

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'lib/**',
      ]

tests-library:
  - changed-files:
      - any-glob-to-any-file: [
        'lib/**/*.spec.ts',
        '**/karma.conf.js',
      ]

tests-demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**/*.spec.ts',
      ]

docs:
  - changed-files:
      - any-glob-to-any-file: [
        'README.md',
        'docs/**',
      ]

fix/unit testing with marked v14 implementation
  lib/src/markdown.service.spec.ts
Labels: library, tests-library

fix/unit testing with marked v14 implementation
  lib/src/markdown.service.spec.ts
Labels: library, tests-library

fix/eslint format
  lib/src/markdown.service.ts
Labels: library

fix/eslint format
  lib/src/markdown.service.ts
Labels: library

del/unused script
  package.json
Labels: infra

del/unused script
  package.json
Labels: infra

fix/test pipeline
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/test pipeline
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows and validations
  .github/workflows/build.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows and validations
  .github/workflows/build.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/eslint library tests
  lib/src/markdown.service.spec.ts
Labels: library, tests-library

fix/eslint library tests
  lib/src/markdown.service.spec.ts
Labels: library, tests-library

feat/timeouts for pipelines
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

feat/timeouts for pipelines
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

feat/dependabot
  .github/dependabot.yml
Labels: infra

feat/dependabot
  .github/dependabot.yml
Labels: infra

fix/test pipeline
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/test pipeline
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines name
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines name
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows
  .github/workflows/pr_triage.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows
  .github/workflows/pr_triage.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows
  .github/workflows/test.yml
Labels: infra, ci-cd
