Repository fsegurai/ngx-markdown, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, ci-cd, demo, assets, styles, library, tests-library, tests-demo, documentation

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
      ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [
        'package-lock.json',
        'yarn.lock',
        'bun.lockb'
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'lib/**',
      ]

tests-library:
  - changed-files:
      - any-glob-to-any-file: [
        'lib/**/*.spec.ts',
        '**/karma.conf.js',
      ]

tests-demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**/*.spec.ts',
      ]

documentation:
  - changed-files:
      - any-glob-to-any-file: [
        'docs/**',
        'CHANGELOG.md',
        'CONTRIBUTING.md',
        'LICENSE',
        'README.md',
      ]

fix/improved demo get-started rendering
  demo/src/app/get-started/get-started.component.ts
  demo/src/app/playground/playground.component.ts
Labels: demo

fix/improved demo get-started rendering
  demo/src/app/get-started/get-started.component.ts
  demo/src/app/playground/playground.component.ts
Labels: demo

upg/libraries version
  bun.lockb
  package.json
Labels: infra, dependencies

upg/libraries version
  bun.lockb
  package.json
Labels: infra, dependencies

feat/new TOC validation for scrollspy component
  demo/src/app/app.component.ts
  demo/src/app/shared/scrollspy-nav-layout/scrollspy-nav-layout.component.html
  demo/src/app/shared/scrollspy-nav-layout/scrollspy-nav-layout.component.ts
Labels: demo

feat/new TOC validation for scrollspy component
  demo/src/app/app.component.ts
  demo/src/app/shared/scrollspy-nav-layout/scrollspy-nav-layout.component.html
  demo/src/app/shared/scrollspy-nav-layout/scrollspy-nav-layout.component.ts
Labels: demo

fix/improved project logo
  demo/public/ngx-markdown.png
Labels: demo, assets

fix/improved project logo
  demo/public/ngx-markdown.png
Labels: demo, assets

Set up CI with Azure Pipelines
  .ado/workflows/copy-main-branch.yml
Labels: none

Set up CI with Azure Pipelines
  .ado/workflows/copy-main-branch.yml
Labels: none

Update copy-main-branch.yml for Azure Pipelines
  .ado/workflows/copy-main-branch.yml
Labels: none

Update copy-main-branch.yml for Azure Pipelines
  .ado/workflows/copy-main-branch.yml
Labels: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-mango-island-05248690f.yml
Labels: infra, ci-cd

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-mango-island-05248690f.yml
Labels: infra, ci-cd

Delete .github/workflows/azure-static-web-apps-mango-island-05248690f.yml
  .github/workflows/azure-static-web-apps-mango-island-05248690f.yml
Labels: infra, ci-cd

Delete .github/workflows/azure-static-web-apps-mango-island-05248690f.yml
  .github/workflows/azure-static-web-apps-mango-island-05248690f.yml
Labels: infra, ci-cd

perf: libraries version
  bun.lockb
  package.json
Labels: infra, dependencies

perf: libraries version
  bun.lockb
  package.json
Labels: infra, dependencies

refactor: README
  README.md
Labels: documentation

refactor: README
  README.md
Labels: documentation

refactor: project structure
  lib/src/clipboard-button/clipboard-button.component.spec.ts
  lib/src/clipboard-button/clipboard-button.component.ts
  lib/src/clipboard-button/clipboard-options.ts
  lib/src/configuration/katex-options.ts
  lib/src/configuration/marked-extensions.ts
  lib/src/configuration/marked-options.ts
  lib/src/configuration/marked-renderer.ts
  lib/src/configuration/mermaid-options.ts
  lib/src/configuration/prism-plugin.ts
  lib/src/configuration/provide-markdown.ts
  lib/src/index.ts
  lib/src/markdown.module.spec.ts
  lib/src/markdown.module.ts
  lib/src/markdown/markdown.component.spec.ts
  lib/src/markdown/markdown.component.ts
  lib/src/pipes/language.pipe.spec.ts
  lib/src/pipes/language.pipe.ts
  lib/src/pipes/markdown.pipe.spec.ts
  lib/src/pipes/markdown.pipe.ts
  lib/src/services/markdown-link.service.spec.ts
  lib/src/services/markdown-link.service.ts
  lib/src/services/markdown.service.spec.ts
  lib/src/services/markdown.service.ts
Labels: library, tests-library

refactor: project structure
  lib/src/clipboard-button/clipboard-button.component.spec.ts
  lib/src/clipboard-button/clipboard-button.component.ts
  lib/src/clipboard-button/clipboard-options.ts
  lib/src/configuration/katex-options.ts
  lib/src/configuration/marked-extensions.ts
  lib/src/configuration/marked-options.ts
  lib/src/configuration/marked-renderer.ts
  lib/src/configuration/mermaid-options.ts
  lib/src/configuration/prism-plugin.ts
  lib/src/configuration/provide-markdown.ts
  lib/src/index.ts
  lib/src/markdown.module.spec.ts
  lib/src/markdown.module.ts
  lib/src/markdown/markdown.component.spec.ts
  lib/src/markdown/markdown.component.ts
  lib/src/pipes/language.pipe.spec.ts
  lib/src/pipes/language.pipe.ts
  lib/src/pipes/markdown.pipe.spec.ts
  lib/src/pipes/markdown.pipe.ts
  lib/src/services/markdown-link.service.spec.ts
  lib/src/services/markdown-link.service.ts
  lib/src/services/markdown.service.spec.ts
  lib/src/services/markdown.service.ts
Labels: library, tests-library

fix: changed test browser to edge
  bun.lockb
  demo/.browserslistrc
  lib/karma.conf.js
Labels: dependencies, demo, library, tests-library

fix: changed test browser to edge
  bun.lockb
  demo/.browserslistrc
  lib/karma.conf.js
Labels: dependencies, demo, library, tests-library

refactor: update license
  LICENSE
Labels: documentation

refactor: update license
  LICENSE
Labels: documentation

feat: browser support
  demo/.browserslistrc
Labels: demo

feat: browser support
  demo/.browserslistrc
Labels: demo

perf: libraries version
  bun.lock
  package.json
Labels: infra

perf: libraries version
  bun.lock
  package.json
Labels: infra

feat: dependency injection for marked extensions
  README.md
  demo/src/app/app.config.ts
  lib/package.json
  lib/src/configuration/marked-extensions.ts
  lib/src/configuration/provide-markdown.ts
  lib/src/markdown.module.spec.ts
  lib/src/markdown.module.ts
  lib/src/markdown/markdown.component.spec.ts
  lib/src/markdown/markdown.component.ts
  lib/src/pipes/markdown.pipe.spec.ts
  lib/src/services/markdown.service.spec.ts
  lib/src/services/markdown.service.ts
Labels: demo, library, tests-library, documentation

feat: dependency injection for marked extensions
  README.md
  demo/src/app/app.config.ts
  lib/package.json
  lib/src/configuration/marked-extensions.ts
  lib/src/configuration/provide-markdown.ts
  lib/src/markdown.module.spec.ts
  lib/src/markdown.module.ts
  lib/src/markdown/markdown.component.spec.ts
  lib/src/markdown/markdown.component.ts
  lib/src/pipes/markdown.pipe.spec.ts
  lib/src/services/markdown.service.spec.ts
  lib/src/services/markdown.service.ts
Labels: demo, library, tests-library, documentation

feat: ado workflow
  .ado/workflows/copy-main-branch.yml
Labels: none

feat: ado workflow
  .ado/workflows/copy-main-branch.yml
Labels: none

refactor: README
  README.md
Labels: documentation

refactor: README
  README.md
Labels: documentation

fix: unit test config file
  lib/karma.conf.js
Labels: library, tests-library

fix: unit test config file
  lib/karma.conf.js
Labels: library, tests-library

Notes added by 'git notes add'
  5cd278a924063037d3eb4626e617531653c2f451
Labels: none
